*{

    margin: 0;

    padding: 0;

    box-sizing: border-box; 
    /*
    include the padding and border in an element's total width and height : https://www.w3schools.com/css/css3_box-sizing.asp
    The box-sizing property allows us to include the padding and border in an element's total width and height.

   Read the whole to understand.
    */

} 

body{

      font-family: 'Poppins', sans-serif;
}

:root{

    --color1: #555;
}

p{

    color: var(--color1);
}


.navbar{

    display: flex;

    align-items: center;

    padding: 20px;
}

nav{

    flex : 1;

    text-align: right;

    justify-content: space-between;
}

nav ul{

    list-style-type: none; /*Spécifie le style des caractère présent devant les items. Soit un disc, numéron, caractère grec etc... | Français simple : se sont les point point qui sont devant les itmes on peut changer ça oubien mettre ça à none pour ne plus afficher*/

    display : inline-block;
}

nav ul li{

    display: inline-block;

    margin-right: 20px;
}

a{

    text-decoration: none;

    color: var(--color1);
}

.container{

    max-width : 1300px;

    margin: auto;

    /*margin-left: 70px;*/

    padding-left: 25px;

    padding-right : 25px;
}

.row{

    display: flex;

    align-items: center;

    flex-wrap: wrap; /* Pour autoriser le retour à la ligne qui est par défaut à "nowarp". "warp" signifie déformation.*/

    justify-content: space-around; /* Avoir le meme espace de par et d'autre d'un élément contenu dans la "row" */
}

.col-2 {

    flex-grow: 1;

    flex-basis : 50%;

    min-width: 300px;
}

.col-2 img{

    max-width: 100%;

    padding: 50px 0;
}

.col-2 h1{

    font-size: 50px;

    line-height: 60px;

    margin : 25px 0;
}

.btn{

    display: inline-block;

    /*background : #ff523b;*/

    background : #000;

    color: #fff;

    padding : 8px 30px;

    /*border-radius: 5px;*/

    border-radius: 5px;

    margin: 30px 0;

    transition: background 0.5s; /* tansition in HTML ???*/
}

.btn:hover{

    /*background : #563434;*/

    background : #00000081;
}

.header{

    background: radial-gradient(#fff, #00000040); /* radial gradient backgroung (it return à kind of image) : https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/radial-gradient */
}

.header .row{

    margin-top: 70px;
}

.categories{

    margin: 70px 0;
}

.col-3{

    width: 30%;

    margin-bottom : 30px; 

    min-width: 250px;
}

.col-3 img{

    width: 100%;
}

.small-container{

    max-width : 1080px;

    margin : auto;

    padding-left: 25px;

    padding-right: 25px;
}

.col-4{

    flex-basis: 25%;

    padding: 10px;

    min-width: 200px;

    margin-bottom: 50px;

    transition: transform 0.5s;
}

.col-4 img{

    width : 100%; /* Occuper tout l'espace du  "col-4" */
}

/*.title{

    width: 235px;

    margin-left: auto;

    margin-right: auto;

    margin-bottom: 5%;
}*/

.title{

    text-align: center;

    margin: 0px auto 80px;

    position: relative;

    line-height: 60px;

    color: #555;
}

.title::after{ 
    
    /*
    ::after :  En CSS, ::after crée un pseudo-élément qui sera le dernier enfant de l'élément sélectionné. 
    Pour approfondir : https://developer.mozilla.org/fr/docs/Web/CSS/::after .
    Note : Les pseudo-éléments générés par '::before' et '::after' sont contenus dans la boîte de mise en forme de l'élément. 
    Aussi, ::before et '::after' ne s'appliquent pas aux éléments remplacés tels que les éléments <img> ou <br>.
    */

    content: ""; /* C'est le contenu du sous-élement (Il s'agit aussi d'un élément HTML) */

    background: #ff523b;

    width: 80px;

    height: 5px;

    border-radius: 5px;

    position: absolute;

    bottom: 2px;

    left: 50%;

    transform: translatex(-50%);
}

h4{

    color: var(--color1);

    font-weight: normal;
}

.col-4 p{

    font-size: 14px;
}

.col-4:hover{

    transform: translate(-5px);
}

.rating .fa{

    color: #ff523b;
}

/*  ------------ offer ----------*/

.offer{

    background: radial-gradient(#fff, #00000010);
    margin-top: 80px;
    padding: 30px 0px;
}

.col-2 .offer-img{

    padding: 50px;
}

small{

    color: #555;

    display: block;
}

/* ------------ testimonial --------------*/

    /*.col-3 .fa-quote-left{

    display: block;

    text-align: center;
}

.fa-quote-left{

    display: block;

    margin-left: auto;

    margin-left: auto;
}

.user-img{

    display: block;

    max-width: 50px;

    border-radius: 100%;

    margin-left: auto;

    margin-right: auto;
}

.col-3 h3{

    text-align: center;
}

.col-3 .rating{

    text-align: center;
}

.col-3 p{

    text-align: center;
}

.col-3 .test{

    margin-top: 30px;

    box-shadow: 0px 0px 20px #00000020;

    border-radius: 5px;

    padding: 30px;

    transition: transform 0.5s;

    
}

.col-3 .test:hover{

    transform : translate(0px, -5px);
}*/

.testimonial{

    padding: 60px;
}

.testimonial .col-3{

    text-align: center;

    padding: 40px 20px;

    box-shadow: 0 0 20px #00000010;

    cursor: pointer; /* Permet de contrôler l'apparence du curseur lorsqu'il survol un élément */

    transition: transform 0.5s;
}

.testimonial .col-3 img{
 
    width: 50px;
 
    margin-top: 20px;
 
    border-radius: 50%;
}

.testimonial .col-3:hover{

    transform: translate(-10px);
}

.fa.fa-quote-left{

    font-size: 34px;
    color: #ff523b;
}

.col-3 p{

    font-size: 12px;

    margin: 12px 0;

    color: var(--color1);
}

.col-3 h3{

    font-weight: 600;

    color: var(--color1);
}

/*----------- brands ---------------------*/

.brands{

    margin: 100px auto;
}

.col-5{

    width: 160px;
}

.col-5 img{

    width: 100%;

    cursor: pointer;

    filter: grayscale(100%); 
    /* 
    filter : Traite le rendu d'un élément avant qu'il ne soit affiché dans le document, en appliquant un ou plusieurs effets de filtre. 
    grayscale : niveau de gris de l'image*/
}

.col-5 img:hover{

    filter: grayscale(0);
}


/*------------ Footer ---------------*/

.footer{

    background : #000;

    color : #8a8a8a;

    font-size : 14px;

    /*        top       rigth       bottom*/
    padding: 60px       0px       20px;
}

.footer p{

    color: #8a8a8a;
}

.footer h3{

    color: #fff;

    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{ /*Syntaxe pour spécifier plusieurs sélecteur à la fois */

    min-width : 250px; /* Pour que chaque "footer-col-n" fasse au mminimum 250px */

    margin-bottom : 20px;

    /*flex: 1;*/ /* On pouvais aussi mettre flex à 1 ( flex : 1) pour tout les "footer-col-n" et retirer les "flex-basis" qu'on à attbibué a flex-col-1, flex-col-3 et flex-col-4 */
}
 
.footer-col-1{

    flex-basis: 30%;
}

.footer-col-2{

    flex : 1;

    text-align: center;
}

.footer-col-2 img{

    width: 180px;
}

.footer-col-3, .footer-col-4{

    flex-basis: 12%;

    text-align: center;
}

.footer-col-3 ul, .footer-col-4 ul{

    list-style-type: none;
}

.app-logo{

    margin-top: 20px;
}

.app-logo img{

    width: 140px;
}

.footer hr{

    border: none;

    background: #b5b5b5;

    height: 1px;

    margin: 20px 0;
}

.copyright{

    text-align: center;
}

.menu-icon{

    width: 28px;

    margin-left: 20px;
}

/* ------------------ media query for menu --------------------------- */

@media only screen and (max-width: 800px){

    nav ul{

        position: absolute;

        top: 70px;

        left: 0;

        background: #333;

        width: 100%;

        overflow: hidden;/*
        La propriété CSS overflow est une propriété raccourcie qui définit 
        comment gérer le dépassement du contenu d'un élément dans son bloc. 
        Elle définit les valeurs des propriétés overflow-x et overflow-y.
        
        Explication : Initialement l'élément <ul> à une hauteur maximale de '0px' (voir script js),
        les éléments <li> dépasse donc de l'élément <ul> au départ. Mettre la propriété css "overflow"
        de l'élément <ul> à "hidden" nous permet donc de caché les éléments <li> lorsqu'il dépasset de
        leur conteneur (conteneur qui est l'élément <ul> ) c'est à dire lorsque l'élément <ul> à une 
        hauteur max de "0px".
        */

        transition: max-height 1s;
    }  

    nav ul li{

        display: block;
    }

    nav ul li a{

        color: #fff;
    }

    .menu-icon{

        display: block;

        cursor: pointer;
    }

}

/* ------------------ media query for less than 600 screen size --------------------------- */

@media only screen and (max-width: 600px){

    .row{

        text-align: center;
    }
    
    .col-2, .col-3, .col-4 {
        
        flex-basis: 100%; /*Les élément dans le conteneur "flex" seront aligné sur la meme ligne avec la meme taille*/
    }
}

